.summary{
width:100%;
height:60%;
display:flex;
justify-content: space-evenly;
}

@media (max-width:625px) {
    .summary{
        flex-direction: column;
        gap:20px;
        height:auto;
        aspect-ratio: 16/9;
    }
    
}