.cardContainer{
    display:flex;
    flex-direction: column-reverse;
    background-repeat: no-repeat;
    background-size: cover;
    height:68vh;
    width:20vw;
    border:none;
    box-shadow:

}
.cardContainer p{
    margin-bottom:50px;
    margin-left:20px;
    color:#1F3A5F;
    font-size: 1.5rem;
text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);

}
.cardEffect{
  box-shadow: 5px 5px 20px #1B1B1B;

 
}
.remCardEffect{
  box-shadow: none;

}
@media (max-width:650px) {
  .cardContainer{
    width:85%;
    height:auto;
    aspect-ratio: 16 / 25;
    
  }
}