.sidebar{
    height:100vh;
    width:12%;
    border-right:2px solid black;
    display:flex;
    justify-content: flex-end;
    /* background-color: #1C1F26; */
 
}

.contentCon{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap:20px;
    margin:11px 0; 
    

    
}

.content{
    width:80%;
    border:2px solid black;
    border-radius:2px;
    padding:1px;
    border-right:0px;
    font-size:1.2rem;
    /* margin:10px 0; */
}
.heading{
    padding:8px;
    font-size:1.2rem;
}
button{
    border:none;
    background-color: transparent;
}

