.newsContentList {
  margin: 5% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
    cursor:pointer;

}

.groupCon {
  height: 60vh;
  width: 21vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* text sizes */
.textLarge {
  font-size: 2.3rem;
  color: ghostwhite;
}

.textMedium {
  font-size: 2rem;
  color: ghostwhite;
}

.textSmall {
  font-size: 1.5rem;
  color: ghostwhite;
}

/* cards */
.newsContent0 {
  display: flex;
  flex-direction: column-reverse;
  height: 60vh;
  width: 42vw;
  /* background: url("../../assets/artemis.jpg") no-repeat; */
    background-repeat: no-repeat; 
  background-size: cover;
}

.newsContent1 {
  display: flex;
  flex-direction: column-reverse;
  height: 60vh;
  width: 21vw;
  /* background: url("../../assets/satellite.jpg") no-repeat; */
    background-repeat: no-repeat; 
  background-size: cover;
}

.newsContent2 {
  display: flex;
  flex-direction: column-reverse;
  height: 29.5vh;
  width: 21vw;
  /* background: url("../../assets/sun.jpg") no-repeat; */
    background-repeat: no-repeat; 
  background-size: cover;
}

.newsContent3 {
  display: flex;
  flex-direction: column-reverse;
  height: 29.5vh;
  width: 21vw;
  /* background: url("../../assets/rover.jpg") no-repeat; */
    background-repeat: no-repeat; 
  background-size: cover;
}

.cardEffect{
  box-shadow: 5px 5px 20px #1B1B1B;

 
}
.remCardEffect{
  box-shadow: none;

}
@media (max-width:700px) {
  .newsContentList {
    flex-direction: column;
    gap: 24px;
  }

  .groupCon,
  .newsContent0,
  .newsContent1,
  .newsContent2,
  .newsContent3 {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
  .groupCon{
    gap:27px;
  }
}
