.nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}

/* logo */
.navImg {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 240px;
}

/* list */


/* shared line style */
.line {
  color: white;
  font-size: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.line:hover {
  text-decoration: underline #E5E7EB;
}

/* input */
.input {
  font-size: 16px;
  height: 26px;
  padding: 4px;
  background-color: transparent;
  border: 1px solid grey;
  color: white;
}

/* active state */
.border {
  outline:2px solid #D1D5DB;
}

@media (max-width:1000px){
  .nav button{
    display:none;
  }
  .nav input{
    display:none;
  }
  .nav a{
    display:none;
  }
  .nav{
    display:flex;
    justify-content: center;
  }
}

