.manageData{
    width:100%;
    display:flex;
    justify-content: center;

}
.datacontent{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}
.content0{
    padding:5px 5px;
}
.content1{
    padding:5px 5px;
}
.list{
      padding:5px 5px;
}