.Footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
    margin-top:30px;
    height:80vh;
    width:100%;
}
.Footer hr{
    width:90%;
    height:1px;
    /* border:none; */
    color: #b9b9b9;
}
.footerImg{
    display:flex;   

  width:100%;
   height:20%;
  
}

@media (max-width:625px) {
    .Footer{
        justify-content: space-evenly;
        height:auto;
        width:100%;
        aspect-ratio: 16/9;
         align-items: center;
         gap:30px;
    }
}
