
@keyframes fadeIn {
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
  
}

.header {
  height: 90vh;
  width: 100%;
  /* background: url("/earthImg.jpg") no-repeat; */
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

/* content */
.headerContent {

  animation: fadeIn 2s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 3vh;
  position: absolute;
  bottom: 30%;
  left: 5%;
}

/* text styles */
.title {
  color: lightblue;
  font-size: 3rem;
}

.subTitle {
  color: darkgrey;
  font-size: 0.8rem;
}

.description p {
  color: lightgrey;
  font-size: 1.3rem;
  word-spacing: 5px;
  font-weight: bold;
}

/* button */
.button {
  background-color: red;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.button:hover {
  filter: brightness(60%);
}

/* divider */
.divider {
  border-color: grey;
}

@media (max-width:406px) {
  .header {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .headerContent {
    position: static;
    padding: 20px;
    gap: 16px;
  }

  .title {
    font-size: 1.5rem;
  }

  .subTitle {
    font-size: 10px;
  }

  .description p {
    font-size: 1rem;
  }
}

