.featuredNews {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  margin: 50px auto;
  padding: 5% 2%;
  color: black;
  position: relative;

}

.featureHead {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #1B1B1B;
}

.featureHead .btn {
  padding-top:18px;
  color: #1B1B1B;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
}

@media (max-width:700px) {
  .featuredNews{
    height:auto;
    width:90%;
  }
}
