.navbar{
    width:100%;
    height:10vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    /* background-color:  #16181D; */
}
button{

    border:1px solid black;
    padding:0px;
    border-radius:5px;
    margin-left:5px;
    background-color: transparent;
}
 .heading{
    display:flex;
    justify-content: center;
width:100%;
padding-right:10px;
}